html5lib==1.1
anki==2.1.49
aqt==2.1.49
apy @ git+https://github.com/lervag/apy.git@39fc43d6e3671afae3021b7d095de32c0c02b65b#egg=apy
pdoc3
pytest
loguru
gitpython
checksumdir
bitstring
tqdm
lark
prettyprinter
beartype
pyinstrument
coverage
